.signout-btn-container {
    width: 100%;
    height: 44px;
    padding: 10px 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 12px;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: var(--cool-gray-20);
    transition: var(--cool-gray-20) 0.3s ease-in-out, color 0.3s ease-in-out;
}

.signout-btn-container:hover {
    background-color: var(--cool-gray-40);
}

.signout-btn-container > p {
    color: var(--secondary-100);
    font-size: 1rem;
}

.signout-btn-container > img {
    height: 24px;
    width: 24px;
    color: var(--secondary-100);
}


@media (min-width: 640px) and (max-width: 1023px)  {
    .signout-btn-container {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .signout-btn-container > img {
        height: 18px;
        width: 18px;
    }
    
    .signout-btn-container > p {
        display: none;
    }
}