.modal-wrapper {
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-width: 500px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--cool-gray-20);
}

.card > form {
    display: grid;
}

.card > form > h1 {
    width: 100%;
    text-align: center;
}

.form-group {
    display: grid;
    gap: 5px;
    margin-bottom: 0.8rem;
}

.form-group > input {
    padding-left: 5px;
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid var(--gray-50);
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.card > form  > button {
    margin-top: 1rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    background-color: var(--gray-10);
}