
.sidebar {
  position: relative;
  border-radius: 1rem;
  grid-area: sidebar;
  background-color: var(--cool-gray-10);
  display: none;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;

  
    @media(width >= 640px) {
      display: grid;
      grid-template-rows: auto 1fr auto auto;
      width: 80px;

    }

    @media(width >= 1024px) {
        width: 223px;
        display: grid;
        grid-template-rows: auto 1fr auto auto;
    }


  .logo {
    display: none;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    span {
      font-size: 24px;
      font-weight: 500;
      display: none;
    }

    @media(width >= 640px) {
      display: flex;
      justify-content: center;
      margin-left: -3px;
    }

    @media(width >= 1024px) {
      justify-content: flex-start;
      margin-left: 7px;
      
      span {
        display: block;
      }
    }
  }

.sidebar-container-all-links {
  width: 100%;
}

.sidebar-container-link {
  margin-bottom: 4px;
}

.sidebar-link {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  transition: var(--background-color) 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
  color: var(--secondary-100);
  border-radius: 1rem;
}

.sidebar-link:hover {
  background-color: var(--primary-100);
  color: var(--cool-gray-10);
}

.sidebar-link.active {
  position: relative;
  color: var(--primary-100);
}
.sidebar-link.active:hover {
  background-color: var(--cool-gray-10);
  color: var(--primary-100);
}
.sidebar-link.active::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 10%;
  bottom: 10%;
  width: 4px;
  border-radius: 0 4px 4px 0;
  background-color: var(--primary-90);
  transition: all 0.3s ease;
}

  .nav {
    display: flex;
    justify-content: flex-start;

    @media(width >= 640px) {
     
      .sidebar-container-all-links {
          justify-content: center;
      }

      span {
        display: none;
      }

      .sidebar-link.active::before {
        display: none;
      }

      .sidebar-link:hover {
        border-radius: 50%;
      }
    }

    @media(width >= 1024px) {
      .sidebar-link.active::before {
        display: flex;
      }
      span {
        display: flex;
      }
    }
    .sidebar-link:hover {
      border-radius: 1rem;
    }
    
  }

  .banner {
   

    @media(width >= 640px) {
       display: none;
    }

    @media(width >= 1024px) {
       display: flex;
    }
  }

.promotional-banner {
  width: 100%;
  padding: 1rem;
}

  .signout {


    @media(width >= 640px) {

    }

    @media(width >= 1024px) {

    }
  }
}