.booking-table-container {
  padding: 1rem;
  font-family: inherit, sans-serif;
  background: var(--gray-10);
}

.table-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.table-wrapper {
  overflow-x: auto;
  background: var(--gray-10);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.booking-title {
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.8rem;
  color: var(--secondary-100);
}

.create-booking-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-100);
  color: var(--gray-10);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}

.create-booking-button:hover {
  background-color: var(--primary-110);
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.styled-table th,
.styled-table td {
  margin: 20px auto;
  padding: 14px 16px;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid var(--gray-10);
  font-size: 0.95rem;
}

.styled-table thead {
  background-color: var(--gray-10);
  color: var(--cool-gray-70);
}

.styled-table tbody tr:hover {
  background-color: var(--gray-20);
  cursor: pointer;
}

.clickable-row {
  transition: background 0.2s ease;
}

.info-text,
.error-text {
  padding: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .styled-table th,
  .styled-table td {
    font-size: 0.85rem;
    padding: 10px 12px;
  }

  .table-heading {
    font-size: 1.25rem;
  }
}
