@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font: "Inter", sans-serif;
    --secondary-50: #D3DAF9;
    --secondary-60: #ABB4DD;
    --secondary-70: #707DBF;
    --secondary-90: #5562A2;
    --secondary-100: #37437D;
    --secondary-110: #1C2346; 

    --primary-30: #FDEDFE;
    --primary-40: #FCE2FE;
    --primary-50: #FCD3FE;
    --primary-90: #F589FA;
    --primary-100: #F26CF9;

    --yellow-90: #FFEFC3;
    --yellow-100: #FFCA39;
   
    --gray-10: #FFFFFF;
    --gray-20: #F7F7F7;
    --gray-30: #EDEDED;
    --gray-40: #E0E0E1;
    --gray-50: #C3C3C4;
    --gray-60: #9F9FA1;
    --gray-70: #777779;
    --gray-80: #636365;
    --gray-90: #434345;
    --gray-100: #1E1E20;

    --cool-gray-10: #EEEFFF;
    --cool-gray-20: #E4E5F5;
    --cool-gray-30: #DDDEED;
    --cool-gray-40: #D1D2E0;
    --cool-gray-50: #B0B1BD;
    --cool-gray-60: #8F8F99;
    --cool-gray-70: #72737A;
    --cool-gray-80: #56565C;
    --cool-gray-90: #39393D;
    --cool-gray-100: #131314;
    
    --text-color: var(--gray-90);
    --background-color: var(--gray-10);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
}

.auth-layout {

}

.portal-layout {
    height: 100dvh;
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar header" "sidebar main";
    gap: 12px;
}

.header {
    height: 84px;
    border-radius: 1rem;
    grid-area: header;
    background-color: var(--gray-20);
}

.sidebar {
    width: 223px;
    border-radius: 1rem;
    grid-area: sidebar;
    background-color: var(--cool-gray-10);
}