@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font: "Inter", sans-serif;
  --secondary-50: #d3daf9;
  --secondary-60: #abb4dd;
  --secondary-70: #707dbf;
  --secondary-90: #5562a2;
  --secondary-100: #37437d;
  --secondary-110: #1c2346;

  --primary-30: #fdedfe;
  --primary-40: #fce2fe;
  --primary-50: #fcd3fe;
  --primary-90: #f589fa;
  --primary-100: #94359954;
  --primary-110: #c256c7;

  --yellow-90: #ffefc3;
  --yellow-100: #ffca39;

  --gray-10: #ffffff;
  --gray-20: #f7f7f7;
  --gray-30: #ededed;
  --gray-40: #e0e0e1;
  --gray-50: #c3c3c4;
  --gray-60: #9f9fa1;
  --gray-70: #777779;
  --gray-80: #636365;
  --gray-90: #434345;
  --gray-100: #1e1e20;

  --cool-gray-10: #eeefff;
  --cool-gray-20: #e4e5f5;
  --cool-gray-30: #dddeed;
  --cool-gray-40: #d1d2e0;
  --cool-gray-50: #b0b1bd;
  --cool-gray-60: #8f8f99;
  --cool-gray-70: #72737a;
  --cool-gray-80: #56565c;
  --cool-gray-90: #39393d;
  --cool-gray-100: #131314;

  --text-color: var(--gray-90);
  --background-color: var(--gray-10);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

a {
  text-decoration: none;
}

.auth-layout {
}

.portal-layout {
  height: 100dvh;
  padding: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  gap: 12px;
}

.header {
  height: 84px;
  border-radius: 1rem;
  grid-area: header;
  background-color: var(--gray-20);
}


